// Colors
$dark: #222222;
$transparent-dark: rgba(30, 30, 30, 0.1);
$light-dark: #444444;
$red: #85144b;
$pink: rgba(205, 5, 205, 0.7);
$light: #ffffff;
// Font style
$base-font-size: 17px;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: 500;
$base-font-color: $dark;
